/* ------------------- Styling to the wordle board grid will be contained here --------------------*/

*{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
/* horizontal rule styling */
.line{
    width: 22rem;
}
/* styling header with flex to have settings button next to title */
header{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-left: 10%;
    gap: 10%;
}

/* title styling to the game */
#wordle-Name{
   font-size: 2.25rem;
   font-weight: bold;
   letter-spacing: 0.125rem;
}
i, .tab {
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 1.25rem;
    padding-right: 2rem;
    color: darkgray;
}

i.fas fa-cog{
    content: 'f013';
}
i.fas fa-times{
    content: 'f00d';
}
/* beginning stylying dimentions for grid size for the wordle board */
#word-grid{
    background-color:aquamarine;
    width: 21.875rem;
    height: 26.25rem;
    /* now to center the game board */
    margin: 0 auto;
    margin-top: 0.188rem;
    /* keeping the tile elements within that board with flex */
    display: flex;
    flex-wrap: wrap;
}

/* creating styling for each and every square tile which will be held within the game board */

.square{
     /* box */
     border: 0.125rem solid darkgray;
     width: 3.75rem;
     height: 3.75rem;
     /* space gap between each square tile */
     margin: 0.156rem;

     /* text styling for each letter that will be typed by the user's choice */
     color:black;
     /* font size will be the same as the title */
     font-size: 2.25rem;
     font-weight: bold;
     display: flex;
     justify-content: center;
     align-items: center;

}

#overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    z-index:2000;
    animation: SlideIn 100ms linear;
}
.settings-container{
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: 40rem;
    align-items: center;
    position: relative;
}
#settings-title{
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 0.125rem;
    justify-content: center;
    text-align: center;
}
.clickTheCross{
    background: none;
    border: none;
    cursor: pointer;
    /* margin-top: 1.25rem; */
    /* padding-right: 2rem; */
    color: darkgray;
}
#setStyle{
    margin-top: 0;
    padding-right: 0;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px){
    .settings-container{
        max-width: 100%;
        padding: 0;
    }
}